*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.navbar
{
    background-color:black
    color#ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3)
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: rgba(0, 0, 0, 0.775);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s;
}

.navbar ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: #2c3e50;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-2px);
    
}.slider{
    margin: 20px auto;
    width: 800px;
    height: 400px; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3)

}

.slider-content
{
    width: 400%;
    height: 100%;
    object-fit: cover;

}
.slider-content input
{
    display: none;


}
.slider-box
{
    width: 25%;
    transition: 0.6s;
}
.slide-box img
{
 width: 800px;
 height: 400px;
 object-fit: cover;
}

#radio1:checked ~ .first { margin-left: 0;}

#radio2:checked ~ .first { margin-left: -25%;}

#radio3:checked ~ .first { margin-left: -50%;}

#radio4:checked ~ .first { margin-left: -75%;}

.nav-manual
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn
{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;


}
.manual-btn:hover{
    background-color: rgb(255, 255, 255);
}

.rodape-principal {

background-color:rgb(0, 0, 0);
color:aquamarine;
padding: 20px
margin-top: 50px;

}
body {

  background-color: #aca40962;
}
